@use '../styles' as styles;
@use 'sass:color' as color;

.timerBlock {
  flex: 0 0 auto;
  padding: 1rem;
  background-color: styles.$timer-bg;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 0.5rem;

  :global(.MuiButton-root) {
    background-color: styles.$color-swinburne-red;
  }

  :global(.MuiSwitch-thumb) {
    background-color: white; // default
  }

  :global(.Mui-checked .MuiSwitch-thumb) {
    background-color: styles.$color-swinburne-red; // when checked
  }

  :global(.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track) {
    background-color: color.adjust(styles.$color-swinburne-red, $alpha: 0.4);
  }

  :global(.MuiTextField-root.Mui-focused) {
    border-color: styles.$color-swinburne-red;
  }

  /* When focused — change border to red */
  :global(.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
    border-color: styles.$color-swinburne-red;
  }

  /* Textfield label color */
  :global(.MuiInputLabel-root.Mui-focused) {
    color: styles.$color-swinburne-red; /* when active */
  }
}

.timeSetting {}

.minutesOnly {}

.playSound {
  :global(.MuiButton-root) {
    color: white;
  }
}

.showNoteOnly {}

.noteEditor {}

.timerButtons {}

.deleteButton {}