@use '../styles' as style;

.windowBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: style.$windowbar-bg;
  color: style.$windowbar-text;
  margin: 0;
  user-select: none;
  -webkit-app-region: drag;
  padding: 0.4rem 0.8rem;

  @media (max-width: 400px) {
    .title {
      display: none;
    }
    .functionalButton {
      display: none
    }
    .moreButton {
      display: flex
    }
  }
  @media (min-width: 400px) {
    .title {
      font-size: 1rem;
      font-weight: bold;
    }
    .functionalButton {
      display: flex
    }
    .moreButton {
      display: none
    }
  }
  
  .actions {
    display: flex block;
    gap: 0;
    -webkit-app-region: no-drag;

    button {
      background: transparent;
      color: style.$windowbar-text;
      border: none;
      padding: 0.3rem 0.6rem;
      cursor: pointer;
      border-radius: 0.25rem;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: style.$windowbar-hover;
      }

      &.close {
        &:hover {
          background-color: style.$color-error;
        }
      }
    }
  }
}

.secondaryBar {
  @media (min-width: 400px) {
    display: none;
  }

  @media (max-width: 400px) {
    display: flex block;
    background-color: style.$windowbar-bg;
    margin: 0;
    padding: 0.4rem 0.8rem;
    justify-content: center;

    button {
      color: style.$windowbar-text;
    }
  }
}
